# Tuple
Tuples are used to store multiple items in a single variable

A tuple is a collection which is **ordered** and **unchangeable**. Allows **duplicate** members

Tuple items are indexed, the first item has index `[0]`, the second item has index `[1]`...

In [1]:
this_tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(this_tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

### Tuple Length
To determine how many items a tuple has, use the `len()` function

In [2]:
this_tuple = ('apple', 'banana', 'cherry')
print(len(this_tuple))

3

### Tuple Items - Data Types
Tuple items can be of any data type

A tuple can contain different data types

In [4]:
tuple1 = ('apple', 'banana', 'cherry')
tuple2 = (1, 5, 6)
tuple3 = (True, False)
tuple4 = ('abc', 34, True, 40, 'male')

In [8]:
# To create tuple with one item, you have to add a comma after the item
mytuple = ('apple',)
print(type(mytuple))

<class 'tuple'>

### tuple() Constructor

In [9]:
this_tuple = tuple(('apple', 'banana', 'cherry'))
print(this_tuple)

('apple', 'banana', 'cherry')

### Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets

Negative indexing means starts from the end

`-1` refers to the last item, `-2` referes to the second last item

In [11]:
this_tuple = ('apple', 'banana', 'cherry')
print(this_tuple[1])
print(this_tuple[-1])

banana
cherry

### Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range

In [12]:
this_tuple = ('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
print(this_tuple[2:5])

('cherry', 'orange', 'kiwi')

By leaving out the start value, the range will start at the first item

By leaving out the end value, the range will go on to the end of the list

In [13]:
this_tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(this_tuple[:4])
print(this_tuple[5:])

('apple', 'banana', 'cherry', 'orange')
('melon', 'mango')

### Check if Item Exists
To determine if a specified item is present in a tuple use the `in` keyword

In [14]:
this_tuple = ('apple', 'banana', 'cherry')
if 'apple' in this_tuple:
    print('Yes')

Yes

### Change Tuple Values
Tuples are unchangeable or immutable

However, you can convert the tuple into a list, change the list, and convert the list back into a tuple

In [17]:
x = ('apple', 'banana', 'cherry')
y = list(x)
y[1] = 'kiwi'
x = tuple(y)

print(x, type(x))

('apple', 'kiwi', 'cherry') <class 'tuple'>

### Add Tuple Items

1. Convert into a list; Add your item and convert it back to a tuple

In [19]:
this_tuple = ('banana', 'apple', 'cherry')
y = list(this_tuple)
y.append('orange')
print(tuple(y))

('banana', 'apple', 'cherry', 'orange')

2. Add tuple to a tuple

In [20]:
this_tuple = ('apple', 'banana', 'cherry')
y = this_tuple + ('orange', 'melon')
print(y)

('apple', 'banana', 'cherry', 'orange', 'melon')

### Remove Items

In [21]:
# Convert the tuple to a list, remove item, and convert it back to a tuple
this_tuple = ('apple', 'banana', 'cherry')
y = list(this_tuple)
y.remove('banana')
this_tuple = tuple(y)

print(this_tuple)

('apple', 'cherry')

### Unpacking a Tuple
Extract the values in a tuple into variables

In [22]:
fruits = ('apple', 'banana', 'cherry')

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### Using Asterisk *
If the number of variables is less than the number of values, you can add an `*` to the variable name

The values will be assigned to the variable as a list

In [24]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last,
Python will assign values to the variable until the number of values left matches the number of variables left.

In [25]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### Loop Through a Tuple

You can loop through the tuple item by using `loop`

In [26]:
this_tuple = ('apple', 'banana', 'cherry')
for x in this_tuple:
    print(x)

apple
banana
cherry

You can also loop through the tuple items by referring to their index number

Use the `range()` and `len()` functions to create a suitable iterable

In [27]:
this_tuple = ('apple', 'banana', 'cherry')
for i in range(len(this_tuple)):
    print(this_tuple[i])

apple
banana
cherry

You can loop the tuple items by using a `while` loop and `len()` function

In [28]:
this_tuple = ('apple', 'banana', 'cherry')
i = 0
while i < len(this_tuple):
    print(this_tuple[i])
    i = i + 1

apple
banana
cherry

### Join Tuples

Join two or more tuples you can use the `+` operator

In [29]:
tuple1 = ('a', 'b', 'c')
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2

print(tuple3)

('a', 'b', 'c', 1, 2, 3)

If you want to multiply the content of a tuple a given number of times, you can use `*` operator

In [31]:
fruits = ('apple', 'banana', 'cherry')
my_tuple = fruits * 2
print(my_tuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Count items in Tuple

The `count()` method returns the number of times a specified value appears in the tuple.

In [32]:
my_tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

print(my_tuple.count(5))

2

### Tuple index() method

The `index()` method finds the first occurrence of the specified value.

The `index()` method raises an exception if the value is not found.

In [35]:
this_tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = this_tuple.index(8)
print(x)

3