# Set
A set is a collection which is **unordered**, **unchangeable** and **unindexed**. No **duplicate** members

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Sets cannot have two items with the same value.

In [1]:
this_set = {'apple', 'banana', 'cherry'}
print(this_set)
print(type(this_set))

{'apple', 'cherry', 'banana'}
<class 'set'>

Set items can be of any data type

A set can contain different data types

In [2]:
this_set = {'apple', 'banana', 'cherry', 1, 2, True}
print(this_set)

{1, 2, 'cherry', 'apple', 'banana'}

### Get the Length of a Set
To determine how many items a set has, use the `len()` funciton

In [3]:
this_set = {'apple', 'banana', 'cherry'}
print(len(this_set))

3

### Get the type() of set

In [4]:
this_set = {'apple', 'banana', 'cherry'}
print(type(this_set))

<class 'set'>

### set() Constructor make a set

In [5]:
this_set = set(('apple', 'banana', 'cherry'))
print(this_set)

{'apple', 'cherry', 'banana'}

### Access Items
You cannot access items in a set by referring to an index or a key

But you can use `for` to loop through the set items

In [6]:
this_set = {'apple', 'banana', 'cherry'}

for x in this_set:
    print(x)

apple
cherry
banana

### Check if Items exist

In [8]:
this_set = {'apple', 'banana', 'cherry'}

print('banana' in this_set)

True

### Add Set Items
Once a set is created, you cannot change its items, but you can add new items

To add one item to a set, use the `add()` method

In [9]:
this_set = {'apple', 'banana', 'cherry'}

this_set.add('orange')
print(this_set)

{'apple', 'cherry', 'orange', 'banana'}

To add items from another set into the current set, use the `update()` method

The object in the `update()` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [12]:
this_set = {'apple', 'banana', 'cherry'}
tropical = {'pineapple', 'mango', 'papaya'}

this_set.update(tropical)
print(this_set)

this_set.update(['kiwi', 'orange'])
print(this_set)

{'cherry', 'mango', 'apple', 'papaya', 'pineapple', 'banana'}
{'kiwi', 'cherry', 'mango', 'apple', 'papaya', 'pineapple', 'orange', 'banana'}

### Remove Set Items
To remove an item in a set, use the `remove()`, or the `discard()` method

Note: If the item to remove does not exist, `remove()` will raise an error.

Note: If the item to remove does not exist, `discard()` will NOT raise an error.

In [17]:
this_set = {'apple', 'banana', 'cherry'}

this_set.remove('banana')
# this_set.remove('melon')
print(this_set)

{'apple', 'cherry'}

In [18]:
this_set = {'apple', 'banana', 'cherry'}
this_set.discard('apple')
this_set.discard('melon')
print(this_set)

{'cherry', 'banana'}

You can use the `pop()` method to remove an item, so you cannot be sure what item that gets removed

The return value of the `pop()` method is the removed item

In [19]:
this_set = {'apple', 'banana', 'cherry'}
x = this_set.pop()

print(x)

apple

The `clear()` method empties the set

In [20]:
this_set = {'apple', 'banana', 'cherry'}
this_set.clear()
print(this_set)

set()

The `del` keyword will delete the set completely

In [21]:
this_set = {'apple', 'banana', 'cherry'}
del this_set
print(this_set)

NameError: name 'this_set' is not defined

### Join Sets
You can use the `union()` method that returns a new set containing all items from both sets

The `update()` method inserts all items from one set into another

Note: Both `union()` and `update()` will exclude any duplicate items.

In [22]:
set1 = {'a', 'b', 'c'}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 3, 'a', 'b'}

The `intersection_update()` method will keep only the items that are present in both sets

The `intersection()` method will return a new set, that only contains the items that are present in both sets

In [27]:
x = {'apple', 'banana', 'cherry'}
y = {'google', 'microsoft', 'apple'}

x.intersection_update(y)
print(x)

{'apple'}

In [28]:
x = {'apple', 'banana', 'cherry'}
y = {'google', 'microsoft', 'apple'}

z = x.intersection(y)
print(z)

{'apple'}

The `symmetric_difference_update()` method will keep only the elements that are NOT present in both sets

The `symmetric_difference()` method will return a new set, that contains only the elements that are NOT present in both sets

In [29]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
print(z)

{'google', 'cherry', 'microsoft', 'banana'}

Note: The values `True` and `1` are considered the same value in sets, and are treated as duplicates

In [30]:
x = {'apple', 'banana', 'cherry', True}
y = {1, 2, 3, 4}

z = x.union(y)
print(z)

{True, 2, 3, 'cherry', 4, 'banana', 'apple'}